
@use '~swiper/css/bundle'; // Import Swiper CSS directly

.slider {
    &__item {
        position: relative;

        img {
            max-width: 100%;
            height: auto;
            width: 100%;
        }
    }

}
/* Swiper overrides */

.swiper-pagination {
    margin-top: 10px;
    text-align: center;
}

.swiper-button-prev,
.swiper-button-next {
    color: #333;
    &:after {
        font-size: 20px;
    }
}